.sectionCard {
  width: 96vw;
  border: 0.3rem solid var(--color-border);
  margin: 4vh auto;
  padding: 1rem;
  padding-bottom: 8vh;
  background-color: var(--color-primary);
  justify-content: center;
  height: fit-content;
}

.sectionTitle {
  font-size: 36px;
  width: fit-content;
  background-color: var(--color-highlight);
  color: var(--color-bg);
  font-family: var(--font-heading);
  /* font-style: italic; */
  border-radius: 0.5rem;
  font-weight: 700;
  text-align: left;
  padding: 1vh 2vw;
  margin: 2vh 10%;
  box-shadow: var(--color-border) 6px 6px;
  display: block;
}

.imgLabel{
  font-size: 20px;
  font-weight: 700;
  color: var(--color-secondary);
}

.bold{
  font-weight: bold;
}

.imgText{
  font-size: 14px;
  text-align: center;
}