:root {
 /* Colours */
 --color-text: #000000;
 --color-primary: #FAF6DD;
 --color-secondary: #8D3F2A;
 --color-tertiary: #335C67;
 --color-bg: #F4EEEC;
 --color-border: #1B383F;
 --color-highlight: #D8A646;
 --color-highlight2:#848E90;
 /* Fonts */
 --font-main: 'Lexend Variable', sans-serif;
 --font-heading:'Roboto Mono Variable', monospace;
  /* Sizes */
  --size-subheading: 2em;
}