@import "../var.css";

/* .about {} */

@media screen and (min-width: 651px) {
  .title {
    font-size: 9vh;
  }
    .introTxt{
    font-size: 8vh;
  }
}
@media screen and (max-width: 650px) {
  .title {
    font-size: 5vh;
  }
  .introTxt{
    font-size: 5vh;
  }
}
.title {
 font-weight: bold;
 margin: 8vh auto;
 width: 60vw;
 background-color: var(--color-highlight);
 color: var(--color-bg);
 border-radius: 0.5rem;
 padding: 4vh 8vw;
 box-shadow: var(--color-border) 6px 6px;
  text-align: center;
  font-size: 64px;
}

.introTxt {
 margin: 10vh auto;
 width: 80vw;
 text-align: center;
   font-size: 48px;

}

.emphasis{
 color: var(--color-secondary);
 font-weight: bolder;
}