@import "../var.css";

.projSection {
  padding-bottom: 5vh;
}

.projCards {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: fit-content;
  align-items: stretch;
  /*keep cards same heigh if one has more text*/
}

#projects {
  min-height: fit-content;
}

.projCard {
  display: flex;
  flex-direction: column;
  width: 31%;
  min-height: fit-content;
  align-items: center;
  text-align: center;
  padding: 1vh 1vw;
  margin: 2vh auto;
  transition: box-shadow 0.1s ease-in;
  border: var(--color-border) 0.2rem solid;
  box-sizing: border-box;
}

.projCard:hover {
  box-shadow: var(--color-border) 0.7rem 0.7rem;
  background-color: var(--color-tertiary);
  color: var(--color-bg);
  border: 0.2rem solid transparent;
}

.projCard:hover .projDesc {
  color: var(--color-bg);
}

.projCard:hover .projName {
  color: var(--color-primary);
  text-shadow: -1px -1px black;
}

.projName {
  font-size: 28px;
  font-weight: 700;
  color: var(--color-secondary);
  margin: 10px auto;
}

.projThumbnail {
  width: 100%;
  height: fit-content;
  object-fit: contain;
  margin: 0 auto;
}

.projDesc {
  font-size: 2vh;
  color: var(--color-text);
  text-align: center;
  margin: auto;
  padding: 5vh 0;
  width: 100%;
}

.projIntro {
  font-weight: bold;
  margin: 8vh auto;
  width: 70vw;
  height: fit-content;
  background-color: var(--color-highlight);
  color: var(--color-bg);
  border-radius: 0.5rem;
  padding: 3vh 2vw;
  box-shadow: var(--color-border) 0.5vw 1vh;
  text-align: center;
}

@media screen and (min-width: 651px) {
  .projTitle {
    font-size: 5vh;
  }

  .introTxt {
    font-size: 2.5vh;
  }

  .projDesc {
    font-size: 15px;
  }

  .projName {
    font-size: 28px;
  }

  .infoTxt {
    font-size: 16px;
  }

}

@media screen and (max-width: 650px) {
  .projTitle {
    font-size: 3vh;
  }

  .introTxt {
    font-size: 2vh;
  }

  .projDesc {
    font-size: 8px;
  }

  .projName {
    font-size: 14px;
  }

  .infoTxt {
    font-size: 8px;
  }
}

.projTitle {}

.introTxt {
  font-weight: 400;
  margin: 3vh 0;
}

.skills {
  color: var(--color-secondary);
  font-weight: 700;
  font-size: 3vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 0vh;
}

.infoCard {
  width: 55vw;
  height: fit-content;
  margin: 2vh auto;
  padding: 2vh 1vw;
  background-color: var(--color-secondary);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

.exclamationIcon {
  position: absolute;
  top: -1rem;
  left: -1rem;
  width: 3rem;
  height: 3rem;
  color: var(--color-bg);
}

.infoTxt {
  color: var(--color-bg);
  text-align: center;
  margin: 1vh auto;
  width: 100%;
}

.infoCard2 {
  width: 65vw;
  height: fit-content;
  margin: 2vh auto;
  padding: 2vh 1vw;
  background-color: var(--color-tertiary);
  color: var(--color-bg);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sectionTxt {
  font-size: 16px;
  color: var(--color-text);
  text-align: center;
  margin: 2.5rem 7vw;
  text-wrap-style: pretty;
}

.sectionTxtEmphasis {
  font-size: 16px;
  color: var(--color-text);
  text-align: center;
  margin: 5rem auto 2rem;
  font-weight: bold;
  border: var(--color-border) 0.4rem solid;
  width: fit-content;
  border-radius: 0.5rem;
  padding: 0.8rem;
}

/* -------------------GREEN DIGITAL TWIN-------------------------------- */

.gdtIntroImg {
  display: grid;
  grid-template-columns: [first] 13vw [line2] 37vw [line3] 37vw [line4] 13vw;
  height: 310px;
  height: fit-content;
  margin: 8vh auto;
}

.gdtInfoCard2Txt {
  width: 40vw;
  height: 100%;
  margin: auto;
  padding: 3vh 1vw;
  place-self: center;
}

.gdtEnviro {
  height: 310px;
  border-radius: 0.5rem;
  place-self: center;
}


.gdtStatsImgs {
  width: 100%;
  height: 58vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: auto;
  padding: 2vh 0;
}

.gtdStats {
  height: 100%;
}

.gdtDesignPage {
  display: grid;
  grid-template-areas:
    "title title title"
    "label . label2"
    "img txt img2"
    "img . img2";
  justify-items: center;
  text-align: center;
}

.designInfoCard {
  grid-area: txt;
  width: 16rem;
  margin: 0;
}

.imgLabel1 {
  grid-area: label;
  width: 100%;
}

.imgLabel2 {
  grid-area: label2;
  width: 100%;
}

.gdtDesignTitle {
  grid-area: title;
  justify-self: left;
}

.gdtProto1 {
  grid-area: img;
  justify-self: left;
  width: 100%;
}

.gdtProto2 {
  width: 65%;
  grid-area: img2;
}

/* ----------------------------RHYTHM GAME  ------------------------------*/
.rhythmMenuImg {
  display: flex;
  margin: 2rem auto;
  outline: var(--color-border) 0.3rem solid;
  padding: 1%;
  transition: .3s ease-in-out, outline 0.3s ease-out;
  height: 30rem;
}

.rhythmMenuImg:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  outline: transparent 0rem solid;
}

.imgTxt {
  display: flex;
  width: fit-content;
  margin: auto;
  font-size: larger;
  color: var(--color-secondary);
  font-weight: 700;
}

.rhythmModes,
.rhythmStats {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.rhythmPlayModeImg,
.rhythmPracticeModeImg {
  width: 100%;
  height: auto;
}

.modeCard {
  width: 40%;
  border: var(--color-border) 0.3rem solid;
  padding: 1rem;
}

/* .modeTxt {
  width: 100%; 
   text-align: center;
} */

.rhythmStatsCard {
  width: 32%;
  border: var(--color-border) 0.3rem solid;
  padding: 0.3rem;
}

.rhythmStatsImgs {
  width: 100%;
  height: auto;
}

.uiImgs {
  justify-content: center;
  display: grid;
  grid-template-areas:
    " . a b b c . "
    " d d d e e e";
  gap: 1rem;
}

.gameColours {
  grid-area: a;
  justify-self: end;
  /* width: fit-content; */
  height: 40vh;
}

.mainMenu {
  grid-area: b;
  justify-self: center;
  height: 40vh;
}

.pracColours {
  grid-area: c;
  justify-self: start;
  width: fit-content;
}

.gameMenu {
  grid-area: d;
  justify-self: end;
  /* width: fit-content; */
  height: 40vh;
}

.pracMenu {
  grid-area: e;
  justify-self: start;
  /* width:fit-content; */
  height: 40vh;
}

/* ---------------------------TAKING CHARGE-------------------------------- */
.tcMenu {
  display: flex;
  margin: 2rem auto;
  outline: var(--color-border) 0.3rem solid;
  padding: 1%;
  height: 30rem;
  transition: .3s ease-in-out, outline 0.3s ease-out;
}

.tcUserFlow {
  width: 100%;
  display: flex;
  margin: auto;
}

.tcImgLabel {
  font-size: 20px;
  font-weight: 700;
  color: var(--color-secondary);
  width: fit-content;
  padding: 0.5rem;
  margin-top: 5rem;
}
