@import "../var.css";

.projSection {
  padding-bottom: 5vh;
}

.projCards {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: fit-content;
  align-items: stretch;
  /*keep cards same heigh if one has more text*/
}

#projects {
  min-height: fit-content;
}

.projCard {
  display: flex;
  flex-direction: column;
  width: 31%;
  min-height: fit-content;
  align-items: center;
  text-align: center;
  padding: 1vh 1vw;
  margin: 2vh auto;
  transition: box-shadow 0.1s ease-in;
  border: var(--color-border) 0.2rem solid;
  box-sizing: border-box;
}

.projCard:hover {
  box-shadow: var(--color-border) 0.7rem 0.7rem;
  background-color: var(--color-tertiary);
  color: var(--color-bg);
  border: 0.2rem solid transparent;
}

.projCard:hover .projDesc {
  color: var(--color-bg);
}

.projCard:hover .projName {
  color: var(--color-primary);
  text-shadow: -1px -1px black;
}

.projName {
  font-size: 28px;
  font-weight: 700;
  color: var(--color-secondary);
  margin: 10px auto;
}

.projThumbnail {
  width: 100%;
  height: fit-content;
  object-fit: contain;
  margin: 0 auto;
}

.projDesc {
  font-size: 2vh;
  color: var(--color-text);
  text-align: center;
  margin: auto;
  padding: 5vh 0;
  width: 100%;
}

.projIntro {
  font-weight: bold;
  margin: 8vh auto;
  width: 70vw;
  height: fit-content;
  background-color: var(--color-highlight);
  color: var(--color-bg);
  border-radius: 0.5rem;
  padding: 3vh 2vw;
  box-shadow: var(--color-border) 0.5vw 1vh;
  text-align: center;
}

@media screen and (min-width: 651px) {
  .projTitle {
    font-size: 5vh;
  }

  .introTxt {
    font-size: 2.5vh;
  }

  .projDesc {
    font-size: 15px;
  }

  .projName {
    font-size: 28px;
  }

  .infoTxt {
    font-size: 16px;
  }

}

@media screen and (max-width: 650px) {
  .projTitle {
    font-size: 3vh;
  }

  .introTxt {
    font-size: 2vh;
  }

  .projDesc {
    font-size: 8px;
  }

  .projName {
    font-size: 14px;
  }

  .infoTxt {
    font-size: 8px;
  }
}

.projTitle {}

.introTxt {
  font-weight: 400;
  margin: 3vh 0;
}

.skills {
  color: var(--color-secondary);
  font-weight: 700;
  font-size: 3vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 0vh;
}

.infoCard {
  width: 55vw;
  height: fit-content;
  margin: 2vh auto;
  padding: 2vh 1vw;
  background-color: var(--color-secondary);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

.exclamationIcon {
  position: absolute;
  top: -1rem;
  left: -1rem;
  width: 3rem;
  height: 3rem;
  color: var(--color-bg);
}

.infoTxt {
  color: var(--color-bg);
  text-align: center;
  margin: 1vh auto;
  width: 100%;
}

.infoCard2 {
  width: 65vw;
  height: fit-content;
  margin: 2vh auto;
  padding: 2vh 1vw;
  background-color: var(--color-tertiary);
  color: var(--color-bg);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gdtIntroImg {
  display: grid;
  grid-template-columns: [first] 13vw [line2] 37vw [line3] 37vw [line4] 13vw;
  height: 310px;
  height: fit-content;
  margin: 8vh auto;
}

.gdtInfoCard2Txt {
  width: 40vw;
  height: 100%;
  margin: auto;
  padding: 3vh 1vw;
  place-self: center;
}

.gdtEnviro {
  height: 310px;
  border-radius: 0.5rem;
  place-self: center;
}

.sectionTxt {
  font-size: 16px;
  color: var(--color-text);
  text-align: center;
  margin: 5rem auto;
}

.sectionTxtEmphasis {
  font-size: 16px;
  color: var(--color-text);
  text-align: center;
  margin: 5rem auto 2rem;
  font-weight: bold;
  border: var(--color-border) 0.4rem solid;
  width: fit-content;
  border-radius: 0.5rem;
  padding: 0.8rem;
}

.gdtStatsImgs {
  width: 100%;
  height: 58vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: auto;
  padding: 2vh 0;
}

.gtdStats {
  height: 100%;
}

.gdtDesignPage {
  display: grid;
  grid-template-areas:
    "title title title"
    "label . label2"
    "img txt img2"
    "img . img2";
    justify-items: center;
    text-align: center;
}

.designInfoCard {
  grid-area: txt;
  width: 16rem;
  margin: 0;
}

.imgLabel1 {
  grid-area: label;
  height: fit-content;
  width: 40vw;
}

.imgLabel2 {
  grid-area: label2;
  width: 40vw;
}

.gdtDesignTitle {
  grid-area: title;
  /* margin-left: 0; */
  justify-self: left;
}

.gdtProto1 {
  width: 80%;
  grid-area: img;
}

.gdtProto2 {
  width: 80%;
  grid-area: img2;
}